/*start start setup*/
#game_start{
    width: 100%;
    height: 100%;
}
/*end start setup*/
/*start attack setup*/
#battle_attack{
    width: 50%;
    height: 100%;
}
/*end attack setup*/
/*start retreat setup*/
#battle_retreat{
    width: 50%;
    height: 100%;
}
/*end retreat setup*/