section{
    border: 5px solid black;
    margin: 10px;
}
#enemy_space, #player_space{
    height: 35%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
#player_controls{
    height: 30%;
    display: flex;
    flex-flow: row nowrap;
}
#player_controls #controls, #player_controls #log{
    width: 50%;
    border: 2px solid grey;
}
#player_controls #controls{
    display: flex;
    flex-flow: row nowrap;
}
#log{
    overflow: auto;
}