/*start of enemy styling*/
.enemy{
    border: solid black;
    width: 250px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
}
.enemy #pic{
    width: 100%;
    height: 70%;
    background-color: red;
}
.enemy #hull{
    width: 100%;
    height: 15%;
    background-color: green;
}
.enemy #aux{
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
}
.enemy #aux #fire{
    width: 50%;
    background-color: yellow;
    color: black;
}
.enemy #aux #acc{
    width: 50%;
    background-color: grey;
}
/*end of enemy styling*/

/*start of player styling*/
.player{
    border: solid black;
    width: 250px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
}
.player #pic{
    width: 100%;
    height: 70%;
    background-color: blue;
}
.player #hull{
    width: 100%;
    height: 15%;
    background-color: green;
}
.player #aux{
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
}
.player #aux #fire{
    width: 50%;
    background-color: yellow;
    color: black;
}
.player #aux #acc{
    width: 50%;
    background-color: grey;
}
/*end of player styling*/